@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager
@{ 
    var currentUser = await userManager.GetUserAsync(User);
}
    <div class="sidebar" id="menu">
        <button id="close-btn">&times;</button>
        <a asp-area="Identity" asp-page="/Account/Manage/Index">My Profile</a>
        <div class="row text-white">
            <div class="col-3">

            </div>
            <div class="col-9">
                <p>@currentUser.FirstName</p>
            </div>
        </div>
        <a asp-controller="Messases">Messages</a>
        @if (User.IsInRole(RoleNames.Admin))
        {
            <a asp-controller="Students" asp-action="Index">Students</a>
            <a asp-controller="Teachers" asp-action="Index">Teachers</a>
            <a asp-controller="Classes" asp-action="Index">Classes</a>
            <a href="#">School Info</a>
        }
        @if (User.IsInRole(RoleNames.Teacher))
        {
            <a asp-controller="teacherclass" asp-action="details">Class</a>
            <a asp-controller="teacherclass" asp-action="examuploadscore">Exam Upload</a>
            <a asp-controller="teacherclass" asp-action="testuploadscore">Test Upload</a>
            <a asp-controller="teacherclass" asp-action="examscore">Exam Score</a>
            <a asp-controller="teacherclass" asp-action="testscore">Test Score</a>
        }

    </div>
    <script>
        let sideBar = document.getElementById('menu');
        function showMenu() {
            sideBar.classList.add('sidebar-colapse')
        }
        sideBar.addEventListener('blur', () => this.classList.remove('sidebar-colapse'))

        document.getElementById('close-btn').onclick = () => {
            sideBar.classList.remove('sidebar-colapse')
        }
    </script>

@section styles{ 
<link rel="stylesheet" href="~/css/SideBar.css" />
}