
<div class="sidebar" id="menu">
    <button id="close-btn">&times;</button>
    <a asp-area="Identity" asp-page="/Account/Manage/Index" >My Profile</a>
    <a asp-controller="Messases">Messages</a>
    @if (User.IsInRole("Admin"))
    {
        <a asp-controller="Students" asp-action="Index" >Students</a>
        <a asp-controller="Teachers" asp-action="Index" >Teachers</a>
        <a asp-controller="Classes" asp-action="Index" >Classes</a>
        <a href="#">School Info</a>
    }

</div>

<script>
    function showMenu() {
        document.getElementById('menu').classList.add('sidebar-colapse')
    }

    document.getElementById('close-btn').onclick = () => {
        document.getElementById('menu').classList.remove('sidebar-colapse')
    }
</script>
@section styles{ 
<link rel="stylesheet" href="~/css/SideBar.css" />
}