@model DataCore.Models.Student
@using Microsoft.AspNetCore.Hosting
@inject IHostingEnvironment env

@{
    ViewData["Title"] = "Edit";
    string src = Model.ProfilePhotoExtension == null ? "/Images/Avatars/Avatar.png" : $"/Images/Avatars/{Model.Id}.{Model.ProfilePhotoExtension}";
}

<h1>Edit</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-6 offset-md-3 col-sm-8 offset-md-2 col-10 offset-1">
        <form method="post" asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group form-inline">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control ml-auto" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group form-inline">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control ml-auto" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>

            <div class="form-group form-inline">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control ml-auto" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group form-inline">
                <label asp-for="AdmissionDate" class="control-label"></label>
                <input asp-for="AdmissionDate" class="form-control ml-auto" />
                <span asp-validation-for="AdmissionDate" class="text-danger"></span>
            </div>

            <div class="form-group form-inline">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control ml-auto" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>

            <div class="form-group form-inline">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control ml-auto" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group form-inline">
                <label asp-for="ClassId" class="control-label"></label>
                <select asp-for="ClassId" class="form-control ml-auto" asp-items="ViewBag.ClassId"></select>
                <span asp-validation-for="ClassId" class="text-danger"></span>
            </div>

            <div class="form-group form-inline">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control ml-auto" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group form-inline">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control ml-auto" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-inline">
                <img class="rounded-circle pb-3 w-75" id="img" src="@src" />
                <input type="file" name="Avatar" accept="image/*" class="btn btn-primary" onchange="loadImg(this)" />
            </div>
            <div class="form-group form-inline">
                <input type="submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function loadImg(input) {
            let img = document.getElementById('img');
            let reader = new FileReader()
            reader.onload = function (e) {
                img.src = this.result;
                console.log(img)
            }
            reader.readAsDataURL(input.files[0])
        }
    </script>
}
