@model IEnumerable<School.Models.ViewModels.ClassDetailsViewModel>

<div class="row justify-content-around">
    @foreach (var ClassDetail in Model)
    {
        string TeacherFullName;
        if (ClassDetail.Teacher == null)
        {
            TeacherFullName = "No Teacher";
        }
        else
        {
            TeacherFullName = ClassDetail.Teacher.FullName;
        }
        <div>
            <div class="col-md-4 m-2">
                <div class="card text-right jumbotron2 w-18-em">
                    <div class="card-body">
                        <h3>@ClassDetail.Class.Name</h3>
                        <p class="card-text">Teacher: @TeacherFullName</p>
                        <a asp-action="classtests" asp-route-Id="@ClassDetail.Class.Id" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>