
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center font-weight-bold text-capitalize" style="color: #10145c">CONTACT US</h1>
<div class="row justify-content-around bg-blue h-100">
    <div class="col-11 col-md-4">
        <div class="contact-div p-2">
            <span class="fa fa-address-book"></span>
            <div>
                <a href="tel:+2348026419184">+2348026419184</a>
                <a href=""></a>
                <a href=""></a>
            </div>
        </div>
    </div>
    <div class="col-11 col-md-4">
        <div class="contact-div p-2">
            <span class="fa fa-location-arrow"></span>
            <div>
                <a href="tel:+2348026419184">+2348026419184</a>
                <a href=""></a>
                <a href=""></a>
            </div>
        </div>
    </div>
    <div class="col-11 col-md-4">
        <div class="contact-div p-2">
            <span class="fa fa-search-location"></span>
            <div>
                <a href="tel:+2348026419184">+2348026419184</a>
                <a href=""></a>
                <a href=""></a>
            </div>
        </div>
    </div>
</div>

