
.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    left: 0;
    top: 0;
    background-color: #190101;
    overflow-x: hidden;
    transition-duration: 0.3s;
    z-index: 1031;
}
.sidebar-item {
    color: #d7d7d7;
    border: 0px;
    display: block;
    padding: 20px 50px;
    transition-duration: 0.6s;
    cursor: pointer;
}

.sidebar-item:hover {
    color: #fff;
    text-decoration: none;
}

#close-btn {
    font-size: 2em;
    color: #bebecc;
    background-color: inherit;
    border: 0px;
    margin: 15px;
}

#close-btn:hover {
    color: #fff;
}
.sidebar-colapse{
    width: 200px !important;
}
.bg-blue{
    background-color: #213ac8;
}
.menu-btn{
    top: 0px;
}
.profile{
    border-bottom: 2px solid #404045;
}
.hidden-items{
    height: 0px;
    overflow: hidden;
    transition: height .3s;
    transition-timing-function: ease-in;
}
.hidden-items a{
    padding: 10px 50px;
    margin-left: .5rem;
}
.hidden-items-show{
    height: 100px;
}
