
.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    left: 0;
    background-color: #1f1f23;
    overflow-x: hidden;
    transition-duration: 0.5s;
    z-index: 3;
}

.sidebar a, span {
    color: #93939d;
    border: 0px;
    display: block;
    padding: 20px 50px;
    transition-duration: 0.6s;
}
.sidebar span{
    background-color: inherit;
}

.sidebar a:hover, span:hover {
    color: #fff;
    text-decoration: none;
}

#close-btn {
    font-size: 2em;
    color: #bebecc;
    background-color: inherit;
    border: 0px;
    margin: 15px;
}

#close-btn:hover {
    color: #fff;
}
.sidebar-colapse{
    width: 200px !important;
}
.bg-blue{
    background-color: #213ac8;
}
.menu-btn{
    top: 0px;
}
.profile{
    border-bottom: 2px solid #404045;
}