/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    color: #070731;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
.carousel-item img{
    filter: brightness(70%);
}

.bg-fixed {
    background: center fixed url(/Images/kids-dark.jpg);
    height: 300px;
    font-size: x-large;
    font-weight: bold;
    color: white;
}
.bg-fixed p{
    padding: 100px 30px;
}
.login-bg{
    height: 100vh;
    background:url(/Images/kids-dark.jpg) center ;
}

.login-content{
    border-radius: 4px; 
    background: #fff;
    padding: 10px 15px;
}
.z-index-0{
    z-index: 0;
}
.z-index-1{
    z-index: 1;
}
.w-18-em{
    width: 18em;
}
.student-side{
    min-height: 200px;
    max-height: 350px;
    background-color: #fff;
    border-radius: 4px;
    overflow-y: scroll;
    text-align: center;
}
.student-side a{
    text-decoration: none;
}
.bg-blue {
    background-color: #8888ed;
}
.contact-div span{
    width: 20%;
    display: inline;
}
.contact-div div {
    width: 80%;
    display: inline;
    margin-left: 10px;
}
.class-details-item {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.jumbotron2 {
    padding: 1rem 0.5rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 2px white;
    box-shadow: 0px 0px 5px 2px #cecece;
}
.line-height-2{
    line-height: 2rem;
}
.overflow-scroll{
    overflow-x: scroll;
}