<nav class="navbar nav fixed-top bg-slight-dark">
    <button onclick="showMenu()" class="btn menu-btn" style="font-size: 1em">&#9776; Menu</button>
    <a class="navbar-brand">My School</a>
    <span></span>
</nav>