@model IEnumerable<School.Models.Class>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <p><h1>Classes</h1></p>
<div class="row justify-content-around">
    @foreach (var Class in Model)
    {
    <div>
        <div class="col-md-4 m-2">
            <div class="card text-right class-item">
                <div class="card-body">
                    <h3>@Class.Name</h3>
                    <p class="card-text">Teacher: @Class.Teacher.FullName</p>
                    <a asp-controller="Classes" asp-action="Details" asp-route-Id="@Class.Id" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
    }
</div>
